.main{
    height: 550px;
    width: 1300px;
    position: relative;
    background: linear-gradient( rgb(0, 0, 92), rgb(152, 204, 152))
}
.main1{
    
    height: 50px;
    width: 40px;
    background-color: rgb(235, 235, 235);
    margin-top: -520px;
    margin-left: 40px;
    position: absolute;

}
.icon{
    position: absolute;
    margin-top: -510px;
    margin-left: 50px;
    font-size: x-large;
}
.main2{
    position: absolute;
    height: 190px ;
    width: 40px ;
    background-color:rgb(235, 235, 235) ;
    margin-left: 40px;
    margin-top: -450px;
}
.main3{
    position: absolute;
    height: 450px;
    width: 1170px;
    background-color:rgb(235, 235, 235) ;
    margin-left: 100px;
    margin-top: -510px;
}
.divimg{
    position: absolute;
    height: 480px;
    width: 400px;
    margin-left: 100px;
    margin-top: -530px ;
    background-color:rgb(235, 235, 235) ;

}
.divimg img{
    position: absolute;
    width: 400px;
    height: 300px;
    clip-path: polygon(100% 0, 100% 75%, 51% 87%, 0 75%, 0 0);
    background-color: rgb(248, 209, 158);
}
.divimg h1{
position: absolute;
width: 400px;
height: 230px;
text-align: center;
font-size: xx-large;
margin-left: -5px;
margin-top: 300px;


}
.main3 h2{
    position: absolute;
    margin-left: 420px;
    margin-top: 30px;
    font-size: x-large;
font-weight: bold;
}
.main3 h3{
    position: absolute;
    
    margin-left: 420px;
    margin-top: 100px;
    font-size: large;
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    
}
.main3 h4{
    position: absolute;
    
    margin-left: 420px;
    margin-top: 270px;
    font-size: x-large;
    text-align: center;
    
    font-weight: bold;
}
.bar1{
    height: 15px;
    width: 60px;
    background-color: rgb(76, 255, 76);
    margin-left: 700px;
    margin-top: 80px;

}
.bar2{
    height: 15px;
    width: 90px;
    background-color: rgb(76, 255, 76);
    margin-left: 700px;
    margin-top: 10px;

}
.bar3{
    height: 15px;
    width: 80px;
    background-color: rgb(76, 255, 76);
    margin-left: 700px;
    margin-top: 10px;

}
.bar4{
    height: 15px;
    width: 70px;
    background-color: rgb(76, 255, 76);
    margin-left: 700px;
    margin-top: 10px; 
}
.radial{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(76, 255, 76);
    margin-left: 500px;
    margin-top: 170px; 
    border-radius: 25px;
}
.radial1{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(76, 255, 76);
    margin-left: 900px;
    margin-top: 170px; 
    border-radius: 25px;
}
    
    

