
*{
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; 
}

.ionic{
    height: 80px;
    width: 893px;
    background-color: gainsboro;
    text-align: center;
    
}
.angular{
    height: 80px;
    width: 220px;
    background-color: rgb(255, 61, 61);
    margin-top: -15px;
    
}
.angular h3{
    margin-left: 10px;
}
.native{
    height: 80px;
    width: 220px;
    background-color: rgb(196, 252, 133);
    margin-top: -99px; 
    margin-left: 225px;
}
.native h3{
    margin-left: 10px;
}
.tscript{
    height: 80px;
    width: 220px;
    background-color: blueviolet;
    margin-top: -99px; 
    margin-left: 450px; 
}
.tscript h3{
    margin-left: 10px;
}
.sass{
    height: 80px;
    width: 220px;
    background-color: rgb(233, 30, 233) ;
    margin-top: -98px; 
    margin-left: 675px;
}
.sass h3{
    margin-left: 20px;
}
.html5{
    height: 80px;
    width: 220px;
    background-color: rgb(248, 159, 57) ;
    margin-top: -16px;   
}
.html5 h3{
    margin-left: 10px;
}
.ioniccli{
    height: 80px;
    width: 220px;
    background-color: rgb(250, 133, 211) ;
    margin-top: -99px; 
    margin-left: 225px;
}
.ioniccli h3{
    margin-left: 10px;
}
.stencil{
    height: 80px;
    width: 220px;
    background-color: lightskyblue ;
    margin-top: -98px; 
    margin-left: 451px;
}.stencil h3{
    margin-left: 10px;
}
.webc{
    height: 80px;
    width: 220px;
    background-color: yellow ;
    margin-top: -98px; 
    margin-left: 675px;
}
.webc h3{
    margin-left: 10px;
}
.footer{
    height: 80px;
    width: 893px;
    background-color: gainsboro ;
   text-align: center;
   margin-top: -20px;
}
